/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/.composer.lock
env.txt
*.zip
*.pdf
public/uploads/Users/ProfileImage/1662639862.jpg
